#Container {
    width: 1000px;
    height: auto;
    margin: auto;
}

.banner {
    width: 1000px;
    height: 200px;
}

.left {
    width: 500px;
    height: 400px;
    background-color: blueviolet;
    float: left;
}

.right {
    width: 500px;
    height: 400px;
    background-color: rgb(11, 142, 4);
    float: left;
}

@media screen and (max-width:999px) {
    #Container {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .banner {
        width: 100%;
        height: auto;
    }

    .banner img {
        width: 100%;
    }

    .left {
        width: 30%;
        height: 400px;
        background-color: rgb(251, 118, 10);
        float: left;
    }

    .right {
        width: 70%;
        height: 400px;
        background-color: rgba(29, 4, 142, 0.915);
        float: left;
    }
}

@media screen and (max-width:600px) {
    .left {
        width:100%;
        height: 400px;
        background-color: violet;
    }

    .right {
        width:100%;
        height: 400px;
        background-color: rgb(87, 5, 228);
    }
}